<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.storagemanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.goodsDeliveryNote.GoodsDeliveryNoteActivity"
            android:label="@string/list_goods_delivery_note" />
        <activity
            android:name=".activity.warehouse.WarehouseDetailActivity"
            android:label="@string/info_warehouse" />
        <activity
            android:name=".activity.warehouse.AddWarehouseActivity"
            android:label="@string/create_warehouse" />
        <activity
            android:name=".activity.warehouse.WarehouseActivity"
            android:label="@string/list_warehouse" />
        <activity
            android:name=".activity.customer.CustomerDetailActivity"
            android:label="@string/info_customer" />
        <activity
            android:name=".activity.customer.AddCustomerActivity"
            android:label="@string/create_customer" />
        <activity
            android:name=".activity.customer.CustomerActivity"
            android:label="@string/list_customer" />
        <activity
            android:name=".activity.product.ProductDetailActivity"
            android:label="@string/info_product" />
        <activity
            android:name=".activity.product.AddProductActivity"
            android:label="@string/create_product" />
        <activity
            android:name=".activity.product.ProductActivity"
            android:label="@string/list_product" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>